body {
  background: #222;
  color: #fff;
}

#myLabel {
  font-family: monospace;
  font-size: 70px;
  display: block;
  text-align: center;
}

#btns {
  text-align: center;
}

.myBtn {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 11px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 10px 26px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.myBtn:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

.myBtn:active {
  position: relative;
  top: 1px;
}
